<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Certificações - Luciano Barreto</title>

        <link rel="stylesheet" href="/style.css">

    </head>
    <body>
        <div class="background2">
            <div>
                <header>
                    <div class="links2">
                        <a href="/" class="active">Sobre</a>
                        <a href="/portifolio">Portifólio</a>
                        <a href="/certificate">Certificações</a>
                    </div>
                </header>
                <div class="languages">
                    <p>Html</p>
                    <p>Css</p>
                    <p>Bootstrap</p>
                    <p>JavaScript</p>
                    <p>NodeJS</p>
                </div>
            </div>
            <div>
                <img class=logo src="/assets/logo.svg" alt="Logomarca">
            </div>
        </div>
        <footer>
            <a class="footer-pages" href="https://www.bibliaonline.com.br/nvi/dt/32/4" target="blank">Deus é Fiel</a>
        </footer>
    </body>
</html>